/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Loading spinner */
.loader-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: rgba(0, 0, 0, 0.834);
	z-index: 1;
}

.spinner {
	width: 64px;
	height: 64px;
	border: 8px solid;
	border-color: #3d5af1 transparent #3d5af1 transparent;
	border-radius: 50%;
	animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Profile styles */
.profile-container {
	margin-bottom: 40px;
	/* color: white; */
}

.profile-info-section {
	border: 2px solid lightgray;
	display: flex;
	justify-content: center;
}

.info-title {
	font-weight: 600;
	font-size: 22px;
	/* color: white; */
}

.login-signup {
	/* background: linear-gradient(to right, #058396, #054d96, #1c9e34, #50c878); */
	background: linear-gradient(
		90deg,
		rgba(0, 151, 255, 1) 3%,
		rgba(12, 185, 93, 1) 52%,
		rgba(70, 175, 10, 1) 100%
	);
}

.sectionBGs {
	background-color: #8721e1;
	background-image: linear-gradient(
		43deg,
		#8721e1 0%,
		#ff457e 46%,
		#e15a45 100%
	);
}

.tableHead {
	background-color: rgb(229, 231, 235);
}

/* Adding a dynamic range and capping max-width at 767 
which is the break point that our hambger menu shows*/
@media only screen and (min-width: 375px) and (max-width: 767px) {
	/* Nav */
	Nav ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		min-height: 250px;
	}

	.DarkModeButton {
		margin-top: 32px;
		margin-bottom: 32px;
	}

	.navListItem {
		margin-top: 32px;
		margin-bottom: 32px;
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: solid;
		padding-bottom: 2px;
	}
}
